body{
    font-family:Uefa supercup;
    text-align: center;
    background-color: #fffbf8;
    .box1{
        align-content: center;
        background-color: #fae4d2;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        height: 200px;
        width: 330px;
        display: inline-block;

    }
    #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        border-radius: 15px;
        text-align: left;
        h1{
            line-height: 0.1;
            font-size: 70px;
        }
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        border-radius: 15px;
        text-align: left;
        h1{
            line-height: 0.1;
            font-size: 70px;
        }
    }
    
    .section2{
        h1{
            font-size: 50px;
        }
    }

    .box2{
        align-content: center;
        background-color: #fae4d2;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        height: 150px;
        width: 320px;
        display: inline-block;
        background-color: gradient(to right, #f6d365, #fda085);
    }
    #form1{
        text-align: left;
        border: 2px solid black;
        border-radius: 15px;
        padding: 20px;
        width: 400px;
        display: flex;
        flex-direction: column;
        float: right;
    }
    .form2{
        text-align: center;
        border: 2px solid black;
        border-radius: 15px;
        padding: 20px;
        width: 800px;
    }
}
.footer{
        background-color: black;
        width: 100%;
        p{
            color: white;
        }
        
}
.navbar{
    flex:content;
    background-color: #fae4d2;
    border-radius: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}