body{
    font-family: uefa supercup;
    margin-left: 200px;
    margin-right: 200px;
    background-color: beige;
    .h1{
        font-size: 40px;
        line-height: 40px;
    }
   .sections-wrapper {
                display: flex;
                gap: 180px;
                align-items: flex-start;
                }

    .left-section, .right-section {
                                flex: 1; 
                                }
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 20px;
        
        border-radius: 30px;
        background-color: tomato;
        padding: 15px;

        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
    #noted{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    #form-top{
        border-radius: 15px;
        background-color: white;
        padding: 30px;
        width: fit-content;
        height: 300px;
        display: flex;
        flex-direction: column;
       
        
        input{
            border-radius: 10px;
            padding: 10px;
            width: 450px;
            border: 1px solid black;
            border-color: orange;
        }
        button{
            border-radius: 10px;
            padding: 10px;
            width: 375px;
            border: none;
            background-color: tomato;
            color: white;
            font-weight: bold;
        }
    }

}